body {
    font-family: 'Meiryo UI';
    background-image: url("img/wallpaper.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    padding-top: 60px;
    padding-bottom: 40px;
}

hr {
    padding-bottom: 10px;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin-bottom: 0;
}

div.span {
    padding-bottom: 2em;
}

div#news-body {
    height: 100px;
    overflow: auto;
}

p.read-more {
    padding-top: 1em;
}
p.c-r {
    color: tomato;
}

table.profile th {
    padding-right: 10px;
}

div#loading-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .9 ) 
                url('img/loader.gif') 
                50% 50% 
                no-repeat;
}

div.loading {
    display: block !important;
}

h2 img {
    padding-right: 10px;
}

div#gallery ul,
div#archive ul{
    padding: 0;
    list-style-type: none;
    text-align: center;
}

div#gallery ul li {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 8px;
    padding: 10px;
    background: #f0f0f0;
    list-style: none;
    outline: 1px solid #ddd;
    border-top: 1px solid #fff;
}

div#gallery ul li img {
    width: 200px;
    filter: gray;
    -webkit-filter: sepia(100%);
    -webkit-transition: .5s ease-in-out;
}

div#gallery ul li img:hover {
    filter: gray;
    -webkit-filter: sepia(0%);
    -webkit-transition: .5s ease-in-out;
}

div#archive ul li {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 8px;
    padding: 10px;
    list-style: none;
}

